/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/edi_parsing.bundle
/.irb-save-history
/ext/edi_parsing/edi_parsing/edi_parsing/*
/ext/edi_parsing/*.o
/ext/edi_parsing/ruby
/ext/edi_parsing/Makefile
/lib/edi_parsing.bundle